.menu-item.active-offer.menu-offer{
	color: #000000;
	background: #FF00FF;
}

.navigation {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding-left: 150px;
	padding-top: 8px;
	padding-bottom: 15px;
	font-size: 18px;
	text-decoration: none;
	color: #000000;
}

.menufood-item{
	display: inline-block;
	padding: 5px 30px;
	text-decoration: none;
	color: #003300;
	font-size: 17px;
	border: 2px solid #00CC33;
}

.food-title{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
	font-variant: small-caps;
}

.mutual{
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.food{
	padding-left: 10px;
}

.product{
	display: inline-block;
	width: 350px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.active {
	background: #00CC33;
}

.picture-container{
	text-align: center;
	font-weight: 700;
}

.image {
	display: inline-block;
	width: 290px;
	height: 190px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 50px;
}

.menufood {
	background-image: url(../images/background6.jpg);
	border-radius: 30px; 
	font-weight: 700;
	font-variant: small-caps;
	color: 006600;
}