.photo-container {
	width: 250px;
	height: 250px;
	display: inline-block;
	background-color: red;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 5px;

}

.photos-container {
	overflow: auto;
	overflow-y: hidden;
	height: 270px;
	margin-top: 30px;
}

.photos {
	height: 260px;
	white-space: nowrap;
}

.gallery {
	display: inline-block;
	padding: 5px 30px;
	color: #003300;
	font-size: 17px;
	border: 2px solid #00CC33;
	cursor: pointer;
}

.opengallery {
	padding: 5px 30px;
	text-align: center;
}

.active {
	background: #00CC33;
}