.general-description {
	padding-left: 30px;
}

.general-title{
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 700;
	font-size: 18;
	font-variant: small-caps;
	color: #006600;
}

.welcomme{
	display: inline-block;
	padding-top: 20px;
}

.picture{
	display: block;
	padding-top: 30px;
	width: 170px;
	height: 70px;
}