.header {
	background: #ffffff;
	padding: 5 10px;
	display: flex;
	align-items: center;
	padding: 10 10px;
	border-bottom: #006600 solid 2px;
}

.menu {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding-left: 200px;
}

.menu-item:hover {
	color: #000000;
	background: #00CC33;
	text-align: center;	
	border-radius: 2px;
}

.menu-item {
	color: #000000;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	width: 100px;
	border-radius: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.menu-item.menu-item-active {
	color: #000000;
	background: #00CC33;
}

.logo-container {
	display: inline-block;
	cursor: pointer;
}

.logo {
	height: 70px;
	width: 160px;
}
