.title {
	color: #000000;
	font-size: 28px;
	font-weight: 700;
	font-style: italic; 
	line-height: 1.8;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(../images/bgtitle.jpg);
	border-radius: 5px;
	text-align: center;
}

.informations{
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.information-title {
	font-weight: 700;
	font-variant: small-caps;
	font-size: 18px;
	color: #006600;
}

.information-fact{
	display: inline-block;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.a-fact{
	display: inline-block;
	width: 180px;

}

.b-fact{
	display: inline-block;
	width: 100px;
}

.a-fact.contact-name{
	display: inline-block;
	width: 70px; 
}

.a-fact.reservation-name{
	display: inline-block;
	width: 70px;
}

.a-fact.adress {
	display: block;
	width: 170px;
}

.maps {
	display: inline-block;
	width: 620px;
	height: 380px;
	margin-left: 40px;
}

.home-information {
	display: inline-block;
}

.foods-video {
	text-align: center;
}