.notifications{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 3px solid #00CC33;
}

.news{
	padding-left: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-variant: small-caps;
}

.notification-name{
	display: inline-block;
	width: 550px;
}

.notification-title{
	padding-top: 5px;
	padding-bottom: 10px;
	font-weight: 700;
}

.new-information{
	padding-top: 10px;
	padding-bottom: 10px;
}

.imgage-container {
	display: inline-block;
	text-align: center;
}

.img {
	width: 330px;
	height: 250px;
}