.day{
	padding-left: 15px;

}

.week-title{
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border: 2px solid #00CC33;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.foods{
	padding-left: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
	font-variant: small-caps;
}

.day-name{
	display: inline-block;
	width: 350px;
}

.page.page-weekly{
	margin-top: 25px;
}

.weekoffer {
	display: inline-block;
}

.plate-container{
	display: inline-block;
}

.plate {
	width: 320px;
	height: 220px;
	margin-bottom: 650px;
	margin-left: 120px;
}